<form method="post">
<table class="table">
	<tr>
		<th>Task</th>
		<td>{{ .Task.Name }}</td>
	</tr>
	<tr>
		<th>Command</th>
		<td>{{ .Task.Command }}</td>
	</tr>
	<tr>
		<th>Environment</th>
		<td>{{ if .Environment }}<pre>{{ range $k, $v := .Environment }}{{ $k }} = {{ $v }}
{{ end }}</pre>{{ end }}</td>
	</tr>
	<tr>
		<th>Status</th>
		<td>
			{{ .Task.Status }}
    		{{ if eq .Task.Status "Stopped" }}
    		<button formaction="/task/{{ .Task.Id }}/start" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-play"></span> Start</button>
    		{{ else }}
    		<button formaction="/task/{{ .Task.Id }}/stop" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-stop"></span> Stop</button>
    		{{ end }}
		</td>
	</tr>
	<tr>
		<th>Active task</th>
		<td>
			{{ if .Task.ActiveTask }}
    			{{ .Task.ActiveTask }}
    			<a class="btn btn-xs btn-default" href="/task/{{ .Task.Id }}/run/{{ .Task.ActiveTask.Id }}/stdout"><span class="glyphicon glyphicon-file"></span> stdout</a>
    			<a class="btn btn-xs btn-default" href="/task/{{ .Task.Id }}/run/{{ .Task.ActiveTask.Id }}/stderr"><span class="glyphicon glyphicon-file"></span> stderr</a>
    		{{ end }}
    	</td>
	</tr>
</table>

<table class="table">
	<tr>
		<th>Pid</th>
		<th>Started</th>
		<th>Stopped</th>
		<th>Logs</th>
	</tr>
{{ $TaskId := .Task.Id }}
{{ range .Task.TaskRuns }}
    <tr>
    	<td>{{ .Cmd.Process.Pid }}</td>
    	<td>{{ .Started }}</td>
    	<td>{{ .Stopped }}</td>
    	<td>
    		<a class="btn btn-xs btn-default" href="/task/{{ $TaskId }}/run/{{ .Id }}/stdout"><span class="glyphicon glyphicon-file"></span> stdout</a>
    		<a class="btn btn-xs btn-default" href="/task/{{ $TaskId }}/run/{{ .Id }}/stderr"><span class="glyphicon glyphicon-file"></span> stderr</a>
    	</td>
    </tr>
{{ end }}
</table>
</form>