<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{{.Title}}</title>

		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.css">

		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.js"></script>

		<link rel="stylesheet" href="/css/default.css">
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container-fluid">
			  <!-- Brand and toggle get grouped for better mobile display -->
			  <div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			      <span class="sr-only">Toggle navigation</span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			    </button>
			    <a class="navbar-brand" href="/">websysd</a>
			  </div>

			  <!-- Collect the nav links, forms, and other content for toggling -->
			  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			    <ul class="nav navbar-nav">
			      <li{{ if eq .Page "Workspaces" }} class="active"{{end}}><a href="/"><span class="glyphicon glyphicon glyphicon-th-list"></span> Workspaces</a></li>
			      {{ if .Workspace }}
			      	<li{{ if eq .Page "Tasks" }} class="active"{{end}}><a href="/workspace/{{ .Workspace.Name }}"><span class="glyphicon glyphicon glyphicon-th"></span> {{ .Workspace.Name }}</a></li>
			      {{ end }}
			      {{ if .Task }}
			      	<li {{ if eq .Page "History" }}class="active"{{ end }}><a href="/workspace/{{ .Workspace.Name }}/task/{{ .Task.Name }}"><span class="glyphicon glyphicon-dashboard"></span> {{ .Task.Name }}</a></li>
			      {{ end }}
			      {{ if .TaskRun }}
			      	<li {{ if eq .Page "TaskRun" }}class="active"{{ end }}><a href="/workspace/{{ .Workspace.Name }}/task/{{ .Task.Name }}/run/{{ .TaskRun.Id }}"><span class="glyphicon glyphicon-play"></span> Run #{{ .TaskRun.Id }}</a></li>
			      {{ end }}
			      {{ if eq .Page "TaskOutput" }}
			      	<li class="active"><a href=""><span class="glyphicon glyphicon-file"></span> {{ .Type }}</a></li>
			      {{ end }}
			    </ul>
			  </div>
			</div>
		</nav>

		{{.Content}}
	</body>
</html>
