<style>
td h4 {
    margin: 0;
}
td pre {
    background: none;
    border: none;
}
thead th {
    background: #f5f5f5;
}
.maxheight pre {
    overflow-y: scroll;
    max-height: 80px;
}
.task-output {
    margin-top: 5px;
}
.table tr:hover {
    cursor: pointer;
}
.panel .progress {
    margin-top: 6px;
    border: 1px solid #aaa;
}
.locked {
    padding-left: 8px;
    vertical-align: top;
    padding-top: 8px;
    color: #aaa;
}
.container .heading h2 {
    display: inline-block;
}
</style>
<script>
$(function() {
    $("[data-toggle='tooltip']").tooltip();
    $('.table tr').click(function(e) {
        window.location.href = $(e.target).parents('tr').find("td a").attr('href')
    });
});
</script>
<div class="container">
    <div class="heading">
        <h2>{{ .Workspace.Name }}</h2> {{ if .Workspace.IsLocked }}<span class="glyphicon glyphicon-lock locked" title="Locked"></span>{{ end }}
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ .Workspace.ActiveTasks }}" aria-valuemin="0" aria-valuemax="{{ .Workspace.TotalTasks }}" style="width: {{ .Workspace.PercentActive }}%;">
        <span>{{ .Workspace.ActiveTasks }} active</span>
      </div>
      <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ .Workspace.InactiveTasks }}" aria-valuemin="0" aria-valuemax="{{ .Workspace.TotalTasks }}" style="width: {{ .Workspace.PercentInactive }}%;">
        <span>{{ .Workspace.InactiveTasks }} inactive</span>
      </div>
    </div>
    <form method="post">
    <table class="table table-bordered table-hover">
        <thead>
        	<tr>
        		<th>Task</th>
                <th>Service <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="Services are started automatically"></span></th>
        		<th>Active task</th>
                <th>Actions</th>
                {{ range $name, $el := .Workspace.Columns }}
                    <th>{{ $name }}</th>
                {{ end }}
        	</tr>
        </thead>
        <tbody>
        {{ $ws := .Workspace }}
        {{ range .Tasks }}
            {{ $task := . }}
            <tr class="{{ if .ActiveTask }}success{{ else }}danger{{ end }}">
            	<td>
                    <a href="/workspace/{{ $ws.Name }}/task/{{ .Name }}" class="{{ if .ActiveTask }}text-success{{ else }}text-danger{{ end }}">{{ .Name }}</a>
                </td>
                <td>
                    {{ if not .Service }}
                    <button formaction="/workspace/{{ $ws.Name }}/task/{{ .Name }}/enable" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-play"></span> Enable</button>
                    {{ else }}
                    <button formaction="/workspace/{{ $ws.Name }}/task/{{ .Name }}/disable" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-stop"></span> Disable</button>
                    {{ end }}
                </td>
                <td>
                    {{ if .ActiveTask }}
                        <div class="task-run">
                            <a href="/workspace/{{ $ws.Name }}/task/{{ .Name }}/run/{{ .ActiveTask.Id }}">#{{ .ActiveTask.Id }}</a> {{ .ActiveTask }}
                        </div>
                        <div class="task-output">
                            <a class="btn btn-xs btn-default" href="/workspace/{{ $ws.Name }}/task/{{ .Name }}/run/{{ .ActiveTask.Id }}/stdout"><span class="glyphicon glyphicon-file"></span> stdout</a>
                            <a class="btn btn-xs btn-default" href="/workspace/{{ $ws.Name }}/task/{{ .Name }}/run/{{ .ActiveTask.Id }}/stderr"><span class="glyphicon glyphicon-file"></span> stderr</a>
                        </div>
                    {{ else }}
                        <i>None</i>
                    {{ end }}
                </td>
                <td>
                    {{ if eq .Status "Stopped" }}
                    <button formaction="/workspace/{{ $ws.Name }}/task/{{ .Name }}/start" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-play"></span> Start</button>
                    {{ else }}
                    <button formaction="/workspace/{{ $ws.Name }}/task/{{ .Name }}/stop" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-stop"></span> Stop</button>
                    {{ end }}
                </td>
                {{ range $name, $el := $ws.Columns }}
                    <td>{{ $ws.GetColumn $task $name }}</td>
                {{ end }}
            </tr>
        {{ end }}
        </tbody>
    </table>
    </form>
</div>