<style>
.container {
    width: auto;
}
td pre {
    background: none;
    border: none;
    padding: 0;
}
</style>
<div class="container">
	<form method="post">
	<table class="table table-condensed">
		<tr>
			<th>Task run</th>
			<td>{{ .Task.Name }} #{{ .TaskRun.Id }}</td>
		</tr>
		<tr>
			<th>Executor</th>
			<td><pre>{{ .Task.GetExecutor }}</pre></td>
		</tr>
		<tr>
			<th>Command</th>
			<td><pre>{{ .TaskRun.Command }}</pre></td>
		</tr>
		<tr>
			<th>Environment</th>
			<td>{{ if .TaskRun.Environment }}<pre>{{ range $k, $v := .TaskRun.Environment }}{{ $k }} = {{ $v }}
{{ end }}</pre>{{ end }}</td>
		</tr>
		<tr>
			<th>Started</th>
			<td>{{ if not .TaskRun.Started.IsZero }}{{ .TaskRun.Started }}{{ end }}</td>
		</tr>
		<tr>
			<th>Stopped</th>
			<td>{{ if not .TaskRun.Stopped.IsZero }}{{ .TaskRun.Stopped }}{{ end }}</td>
		</tr>
		<tr>
			<th>Pid</th>
			<td>{{ .TaskRun.Cmd.Process.Pid }}</td>
		</tr>
		<tr>
			<th>Stdout</th>
			<td>
				{{ .TaskRun.StdoutBuf.Len }} bytes
				<a class="btn btn-xs btn-default" href="/task/{{ .Task.Id }}/run/{{ .TaskRun.Id }}/stdout"><span class="glyphicon glyphicon-file"></span> stdout</a>
			</td>
		</tr>
		<tr>
			<th>Stderr</th>
			<td>
				{{ .TaskRun.StderrBuf.Len }} bytes
	    		<a class="btn btn-xs btn-default" href="/task/{{ .Task.Id }}/run/{{ .TaskRun.Id }}/stderr"><span class="glyphicon glyphicon-file"></span> stderr</a>
	    	</td>
		</tr>
	</table>
	</form>
</div>