<style>
td h4 {
    margin: 0;
}
td pre {
    background: none;
    border: none;
}
.maxheight pre {
    overflow-y: scroll;
    max-height: 80px;
}
.task-output {
    margin-top: 5px;
}
.table tbody tr:hover {
    cursor: pointer;
}
h2 {
    margin-bottom: 0;
}
.panel .progress {
    margin-top: 6px;
    border: 1px solid #aaa;
}
.panel .panel-body {
    padding: 0;
}
.panel .panel-body .table {
    margin-bottom: 0;
    padding-top: 0;
}
.locked {
    padding-left: 8px;
    vertical-align: top;
    padding-top: 8px;
    color: #aaa;
}
</style>
<script>
$(function() {
    $("[data-toggle='tooltip']").tooltip();
    $('.table tbody tr').click(function(e) {
        window.location.href = $(e.target).parents('tr').find("td a").attr('href')
    });
});
</script>
<div class="container">
    <form method="post">
    {{ range .Workspaces }}
        {{ $ws := . }}
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="progress pull-right" style="width: 45%">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ $ws.ActiveTasks }}" aria-valuemin="0" aria-valuemax="{{ $ws.TotalTasks }}" style="width: {{ $ws.PercentActive }}%;">
                <span>{{ $ws.ActiveTasks }} active</span>
              </div>
              <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ $ws.InactiveTasks }}" aria-valuemin="0" aria-valuemax="{{ $ws.TotalTasks }}" style="width: {{ $ws.PercentInactive }}%;">
                <span>{{ $ws.InactiveTasks }} inactive</span>
              </div>
            </div>
            <h2 style="display: inline-block;"><a href="/workspace/{{ $ws.Name }}">{{ $ws.Name }}</a></h2>{{ if $ws.IsLocked }}<span title="Locked" class="locked glyphicon glyphicon-lock"></span>{{ end }}
          </div>
          <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                    <th>Task</th>
                    {{ range $name, $el := $ws.Columns }}<th>{{$name}}</th>{{end}}
                    <th>Service</th>
                    <th>Run/stop</th>
                    </tr>
                </thead>
                <tbody>
                {{ range .Tasks }}
                    {{ $task := . }}
                    <tr>
                        <td><a class="{{ if .ActiveTask }}text-success{{ else }}text-danger{{ end }}" href="/workspace/{{ $ws.Name }}/task/{{ .Name }}">{{ .Name }}</a></td>
                        {{ range $name, $el := $ws.Columns }}
                            <td><pre>{{ $ws.GetColumn $task $name }}</pre></td>
                        {{ end }}
                        <td style="width: 40px">
                            {{ if not .Service }}
                            <button formaction="/workspace/{{ $ws.Name }}/task/{{ .Name }}/enable" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-play"></span> Enable</button>
                            {{ else }}
                            <button formaction="/workspace/{{ $ws.Name }}/task/{{ .Name }}/disable" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-stop"></span> Disable</button>
                            {{ end }}
                        </td>
                        <td style="width: 40px; text-align: right;">
                            {{ if eq .Status "Stopped" }}
                            <button formaction="/workspace/{{ $ws.Name }}/task/{{ .Name }}/start" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-play"></span> Start</button>
                            {{ else }}
                            <button formaction="/workspace/{{ $ws.Name }}/task/{{ .Name }}/stop" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-stop"></span> {{ if .Service }}Restart{{ else }}Stop{{ end }}</button>
                            {{ end }}
                        </td>
                    </tr>
                {{ end }}
                </tbody>
            </table>
          </div>
        </div>
    {{ end }}
    </form>
</div>
